{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <div class="container">
        <h2 class="text-center w-100 mt-5">Welcome to restaurants management system!</h2>
    </div>
{% endblock %}