{% extends 'base.html.twig' %}

{% block title %}Create new restaurant{% endblock %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="col-6 mt-5">
                <h1 class="h3 text-center">Edit restaurant id: {{ restaurant.id }}</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.image) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.identificationNumber) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.maxTablesCount) }}
                </div>
                <div class="w-100">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}