{% extends 'base.html.twig' %}

{% block title %}Restaurants list{% endblock %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-4 text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex flex-column">
            <div class="mt-3 right">
                <a href="{{ path('app_restaurant_create') }}" class="btn btn-outline-success float-right">
                    <i class="fas fa-plus"></i> Add new restaurant</i>
                </a>
            </div>

            <div class="my-4">
                {{ form_start(searchForm) }}
                    <div class="d-flex flex-row">
                        <div class="col-11 p-0">
                            {{ form_row(searchForm.term) }}
                        </div>
                        <div class="col-1">
                            {{ form_row(searchForm.submit) }}
                        </div>
                    </div>
                {{ form_end(searchForm) }}
            </div>

            <div class="image-list">
                {% for row in restaurants|batch(3) %}
                    <div class="row align-items-start mt-4">
                        {% for restaurant in row %}
                            <div class="col-4 restaurant-block fo">
                                <a href="{{ path('app_restaurant_view', { 'restaurantId' : restaurant.id }) }}">
                                    <img class="img-thumbnail" src="{{ asset('uploads/restaurantsImages/' ~ restaurant.imageFilename) }}" alt="">
                                </a>
                                <div class="restaurant-description px-2 mt-1 rounded border">
                                    <h4 class="h5">Title: {{ restaurant.title }}</h4>
                                    <p class="h5">Identification number: {{ restaurant.identificationNumber }}</p>
                                    <p class="h5">
                                        Status: <span class="p-1 {% if restaurant.status == 'active' %}badge-success{% else %} badge-danger {% endif %} rounded">
                                            {{ restaurant.status }}
                                        </span>
                                    </p>
                                    <p class="h5">Active tables count: {{ restaurant.maxTablesCount }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}