{% extends 'base.html.twig' %}

{% block title %}Restaurants list{% endblock %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-4 text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex flex-row">
            <div class="d-flex flex-column align-items-center col-6">
                <div class="mt-5">
                    <img class="img-thumbnail" src="{{ asset('uploads/restaurantsImages/' ~ restaurant.imageFilename) }}" alt="">
                    <ul class="list-group w-100">
                        <li class="h4 mb-0 list-group-item">Title: {{ restaurant.title }}</li>
                        <li class="list-group-item">Identification number: {{ restaurant.identificationNumber }}</li>
                        <li class="list-group-item">Max active tables count: {{ restaurant.maxTablesCount }}</li>
                        <li class="list-group-item">Status: {{ restaurant.status }}</li>
                        <li class="btn btn-primary mt-2">
                            <a class="text-decoration-none text-white" href="{{ path('app_restaurant_table_create', { 'restaurantId' : restaurant.id }) }}">Add table</a>
                        </li>
                        {% if 'inactive' == restaurant.status %}
                            <li class="btn btn-success mt-2">
                                <a class="text-decoration-none text-white" href="{{ path('app_restaurant_toggle_status', { 'restaurantId' : restaurant.id }) }}">Enable restaurant</a>
                            </li>
                        {% else %}
                            <li class="btn btn-danger mt-2">
                                <a class="text-decoration-none text-white" href="{{ path('app_restaurant_toggle_status', { 'restaurantId' : restaurant.id }) }}">Disable restaurant</a>
                            </li>
                        {% endif %}
                        <li class="btn btn-warning mt-2">
                            <a class="text-decoration-none text-white" href="{{ path('app_restaurant_edit', { 'restaurantId' : restaurant.id }) }}">Edit restaurant</a>
                        </li>
                        <li class="btn btn-secondary mt-2">
                            <a class="text-decoration-none text-white" href="{{ path('app_restaurant_remove', { 'restaurantId' : restaurant.id }) }}">Remove restaurant</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 mt-5">
                <h3 class="mb-3 text-center">Restaurant tables</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Toggle status</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in restaurant.restaurantTables %}
                        <tr>
                            <th scope="row">{{ table.id }}</th>
                            <td>{{ table.capacity }}</td>
                            <td>{{ table.number }}</td>
                            <td>{{ table.status }}</td>
                            <td>
                                {% if 'inactive' == table.status and reachedMaxActiveTablesCount == false %}
                                    <a href="{{ path('app_restaurant_table_toggle_status', { 'restaurantTableId' : table.id }) }}" class="btn btn-success">Enable</a>
                                {% elseif 'active' == table.status  %}
                                    <a href="{{ path('app_restaurant_table_toggle_status', { 'restaurantTableId' : table.id }) }}" class="btn btn-danger">Disable</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('app_restaurant_table_edit', { 'restaurantTableId' : table.id }) }}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{{ path('app_restaurant_table_remove', { 'restaurantTableId' : table.id }) }}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}